* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62, 5%;
}

body * {
  font-family: "Lexend Deca", sans-serif;
}

h3,
h4,
p,
li {
  font-size: 1.5rem;
  color: #ffffff;
}

h1 {
  font-size: 2.5rem;
  font-family: "Ruthie", cursive;
  color: #ffffff;
}

h2 {
  font-size: 4.5rem;
  color: #fd9b1c;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2.5rem;
}

/* Header */

#main-head {
  background: #004b57;
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: relative;
  /* overflow: hidden; */
}

nav {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  padding: 1rem 0rem;

  display: flex;
  align-items: center;
}

#logo {
  flex: 1 1 40rem;
}

.nav-links {
  flex: 1 1 40rem;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.nav-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-icon {
  width: 75%;
}

/* Hero */

#hero {
  min-height: 50vh;
  width: 100%;
  background: #003c46;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-header {
  display: none;
  background: #004b57;
  padding: 2.5rem;
  line-height: 3rem;
  border-radius: 2%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.close-btn {
  font-size: 1.2rem;
  padding: 0.5rem;
  background: #ffffff;
  border: none;
  color: #004b57;
  cursor: pointer;
  transition: 0.3s;
}

.close-btn:hover {
  background-color: #fd9b1c;
  color: #ffffff;
  transition: 0.3s;
}

.nav-header a {
  transition: 0.3s;
}

.nav-header a:hover {
  color: #fd9b1c;
  transition: 0.3s;
}

/* Equipment */

#equipment {
  min-height: 80vh;
  width: 100%;
  background-color: #003c46;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#eq-header {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

ul li span {
  color: #fd9b1c;
}

/* Footer */

#footer {
  background: #004b57;
}

.footer-wrapper {
  width: 90%;
  margin: auto;
  min-height: 12vh;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer-wrapper h3 {
  flex: 2 1 20rem;
}

.footer-wrapper ul {
  flex: 1 1 20rem;
}

.footer-socials {
  flex: 1 1 40rem;
  display: flex;
  justify-content: space-between;
}

.footer-socials img {
  width: 50%;
}

/* Mediq Query */

@media screen and (max-width: 710px) {
  .footer-wrapper h3 {
    text-align: center;
  }
}
